<!DOCTYPE html>
<html ng-app="TravelApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Detail</title>
    <meta name="viewport" content="initial-scale=1" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="Semantic-UI/dist/semantic.min.css" />
    <link rel="stylesheet" href="styles/main.min.css" />
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="Semantic-UI/dist/semantic.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>
    <script type="text/javascript" src="scripts/tour.js"></script>

    <link  href="styles/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script type="text/javascript" src="scripts/fotorama.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="scripts/application.js"></script>

    <script>
        $(function(){
            $("#datepicker").datepicker();
        });
    </script>

</head>
<body>
    <div class="fixed secondary ui menu" id="main-menu">
        <div class="wrapper">
            <a class="item">
                <i class="home icon"></i> Home
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui transparent icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="background">
            <div class="content">
                <div class="wrapper">
                    <h1>Title</h1>
                    <div>Description</div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation-bar">
        <div class="wrapper">
            <div class="ui breadcrumb">
                <a class="section">Home</a>
                <i class="right chevron icon divider"></i>
                <a class="section">Category</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">Detail</div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="ui stackable grid">
            <div class="six wide column">
                <div class="wrapper" ng-controller="BookingController">
                    <div class="view-map">
                        <div class="fluid ui button">BOOKING TOUR</div>
                    </div>
                    <div class="ui form segment">
                        <div class="field">
                            <label>Name</label>
                            <input placeholder="Your name" type="text" id="name" />
                        </div>
                        <div class="field">
                            <label>Email</label>
                            <input placeholder="Your name" type="email" id="email" />
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label><i class="calendar icon"></i>Select a date</label>
                                <input placeholder="calendar" type="text" id="datepicker" />
                            </div>
                            <div class="field">
                                <label><i class="wait icon"></i>Time</label>
                                <input placeholder="time"
                                       type="text"
                                       id="timepicker" />
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Hotel</label>
                                <select class="ui dropdown"
                                        ng-model="booking.numberOfAdults"
                                        ng-options="item as item for item in counters">
                                </select>
                            </div>
                            <div class="field">
                                <label>No. Room</label>
                                <select class="ui dropdown"
                                        ng-model="booking.numberOfChildren"
                                        ng-options="item as item for item in counters">
                                </select>
                            </div>
                        </div>
                        <div class="booking-summary">
                            <table class="ui very basic table">
                                <thead>

                                </thead>
                                <tbody>
                                <tr>
                                    <td width="70%">Adult</td>
                                    <td width="30%">{{ booking.numberOfAdults }}</td>
                                </tr>

                                <tr class="total">
                                    <td>Total Cost</td>
                                    <td>${{ booking.numberOfAdults * booking.adultPrice }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="book-now">
                                <div class="ui button">BOOK NOW</div>
                                <div class="ui basic button">reset</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ten wide column" ng-controller="TourDetailController">
                <div class="tour-gallery">
                    <div class="ui grid">
                        <div class="column">
                            <div class="fotorama"  data-arrows="true"
                                 data-click="true" data-swipe="false" data-height="515">
                                <a href="{{ image.url }}" ng-repeat="image in tour.images"><img src="{{ image.url }}"/></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="ui stackable grid">
            <div class="six wide column">
                <div class="view-map">
                    <div class="fluid ui button">Hue Daily Tours</div>
                </div>
                <div class="ui form segment">
                    <div class="ui list">
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                                <a>Hamberger hill tours</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                                <a>Hue to Hoi An by Motobike</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                                <a>Tam Giang lagoon photos tour</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                                <a>An Bang city of ghosts</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                                <a>Phong Nha notational part in 2 days</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                                <a>Thien Duong Cave</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                                <a>Hoi An</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper" ng-controller="BookingController">
                    <div class="ui fluid form segment">
                        <div class="help" ng-controller="TourInfoController">
                            <i class="call icon"></i>
                            <h4>
                                <span>Book</span>
                                by phone
                            </h4>
                            <a class="phone">{{ phone }}</a>
                            <small>{{ date }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ten wide column" ng-controller="TourDetailController">
                <div class="post">
                    <div class="ui column grid">
                        <div class=" six wide column">
                            <img src="images/1_hue.jpg">
                        </div>
                        <div class="ten wide column">
                            <div>
                                <h3>Phong Nha Cave</h3>
                                <div class="content">Duration: Phong Nha cave and Paradise cave in 2 Days tour
                                    Price: Please contact us for best price
                                    Transports: Motorbike with driver , Boat , minivan tranfers . All meals , entrance fee , Gas , Boat , Minivan Tranfer
                                    Designated a Unesco World Heritage site in 2003, the remarkable Phong Nha-Ke Bang National Park  the oldest karst mountains in Asia</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui column grid">
                        <div class=" six wide column">
                            <img src="images/1_hue.jpg">
                        </div>
                        <div class="ten wide column">
                            <div>
                                <h3>Phong Nha Cave</h3>
                                <div class="content">Duration: Phong Nha cave and Paradise cave in 2 Days tour
                                    Price: Please contact us for best price
                                    Transports: Motorbike with driver , Boat , minivan tranfers . All meals , entrance fee , Gas , Boat , Minivan Tranfer
                                    Designated a Unesco World Heritage site in 2003, the remarkable Phong Nha-Ke Bang National Park  the oldest karst mountains in Asia</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui column grid">
                        <div class=" six wide column">
                            <img src="images/1_hue.jpg">
                        </div>
                        <div class="ten wide column">
                            <div>
                                <h3>Phong Nha Cave</h3>
                                <div class="content">Duration: Phong Nha cave and Paradise cave in 2 Days tour
                                    Price: Please contact us for best price
                                    Transports: Motorbike with driver , Boat , minivan tranfers . All meals , entrance fee , Gas , Boat , Minivan Tranfer
                                    Designated a Unesco World Heritage site in 2003, the remarkable Phong Nha-Ke Bang National Park  the oldest karst mountains in Asia</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui column grid">
                        <div class=" six wide column">
                            <img src="images/1_hue.jpg">
                        </div>
                        <div class="ten wide column">
                            <div>
                                <h3>Phong Nha Cave</h3>
                                <div class="content">Duration: Phong Nha cave and Paradise cave in 2 Days tour
                                    Price: Please contact us for best price
                                    Transports: Motorbike with driver , Boat , minivan tranfers . All meals , entrance fee , Gas , Boat , Minivan Tranfer
                                    Designated a Unesco World Heritage site in 2003, the remarkable Phong Nha-Ke Bang National Park  the oldest karst mountains in Asia</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>