<!DOCTYPE html>
<html ng-app="travelApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Hue Rider</title>
    <meta name="viewport" content="initial-scale=1" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="Semantic-UI/dist/semantic.min.css" />
    <link rel="stylesheet" href="styles/main.min.css" />
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="Semantic-UI/dist/semantic.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="scripts/tour.js"></script>
    <script>
        $(document).scroll(function(){
            if ($(document).scrollTop() > $("#main-menu").height()) {
                $("#main-menu").addClass("float");
            } else {
                $("#main-menu").removeClass("float");
            }

        });
    </script>
</head>
<body>
    <div class="fixed secondary ui menu" id="main-menu">
        <div class="wrapper">
            <a class="item">
                <i class="home icon"></i> Home
            </a>
            <div class="right menu">
                <a class="item primary">
                    Login
                </a>
            </div>
        </div>
    </div>
    <div class="ui image">
        <img src="images/slide_4.jpg" />
    </div>
    <div class="home-tours">
        <div class="wrapper">
            <div class="tour-detail">
                <div class="ui center aligned">
                    <div class="main-title">
                        <h2>Paris
                            <span>Top</span>
                            Tours
                        </h2>
                        <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
                    </div>
                </div>
                <div ng-controller="AllToursController as allTours">
                    <div class="ui three stackable cards">
                        <div class="ui card" ng-repeat="tour in allTours.tours">
                            <div class="ui image">
                                <a class="ui left red corner label">
                                    <i class="heart icon"></i>
                                </a>
                                <a href="/detail.html">
                                    <img src="images/tour_box_1.jpg" />
                                </a>
                            </div>
                            <div class="content">
                                <a class="header" href="/detail.html">{{ tour.title }}</a>
                                <div class="description">{{ tour.description }}</div>
                            </div>
                            <div class="extra content">
                                <a>
                                    <i class="heart icon"></i>
                                    22 People love this
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="viewall-tours">
                    <div class="ui button">View Alls Tours (144)</div>
                </div>
            </div>
            <div class="line"></div>
            <div class="tour-detail">
                <div class="ui center aligned">
                    <div class="main-title">
                        <h2>Paris
                            <span>Top</span>
                            Hotels
                        </h2>
                        <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
                    </div>
                </div>
                <div ng-controller="AllToursController as allTours">
                    <div class="ui three stackable cards">
                        <div class="ui card" ng-repeat="tour in allTours.tours">
                            <div class="ui image">
                                <a class="ui left red corner label">
                                    <i class="heart icon"></i>
                                </a>
                                <a href="/detail.html">
                                    <img src="images/tour_box_1.jpg" />
                                </a>
                            </div>
                            <div class="content">
                                <a class="header" href="/detail.html">{{ tour.title }}</a>
                                <div class="description">{{ tour.description }}</div>
                            </div>
                            <div class="extra content">
                                <a>
                                    <i class="heart icon"></i>
                                    22 People love this
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="viewall-tours">
                    <div class="ui button">View Alls Hotels (144)</div>
                </div>
            </div>
        </div>
        <div class="other-tour">
            <div class="wrapper">
                <div class="ui center aligned">
                    <div class="main-title">
                        <h2>Other
                            <span>popular</span>
                            tours
                        </h2>
                        <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
                    </div>
                </div>
                <div class="ui three column grid">
                    <div class="column">
                        <table class="ui very basic table">
                            <thead></thead>
                            <tbody>
                            <tr>
                                <td><i class="asterisk icon"></i>Tour Eiffel</td>
                                <td>$40</td>
                            </tr>
                            <tr>
                                <td><i class="bug icon"></i>Tour Eiffel</td>
                                <td>$40</td>
                            </tr>
                            <tr>
                                <td><i class="alarm icon"></i>Tour Eiffel</td>
                                <td>$40</td>
                            </tr>
                            <tr>
                                <td><i class="calendar icon"></i>Tour Eiffel</td>
                                <td>$40</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column">
                        <table class="ui very basic table">
                            <thead></thead>
                            <tbody>
                            <tr>
                                <td><i class="asterisk icon"></i>Tour Eiffel</td>
                                <td>$40</td>
                            </tr>
                            <tr>
                                <td><i class="bug icon"></i>Tour Eiffel</td>
                                <td>$40</td>
                            </tr>
                            <tr>
                                <td><i class="alarm icon"></i>Tour Eiffel</td>
                                <td>$40</td>
                            </tr>
                            <tr>
                                <td><i class="calendar icon"></i>Tour Eiffel</td>
                                <td>$40</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column">
                        <table class="ui very basic table">
                            <thead></thead>
                            <tbody>
                            <tr>
                                <td></i>Tour Eiffel</td>
                                <td>$40</td>
                            </tr>
                            <tr>
                                <td><i class="alarm icon"></i>Tour Eiffel</td>
                                <td>$40</td>
                            </tr>
                            <tr>
                                <td><i class="bug icon"></i>Tour Eiffel</td>
                                <td>$40</td>
                            </tr>
                            <tr>
                                <td><i class="calendar icon"></i>Tour Eiffel</td>
                                <td>$40</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="wrapper">
            <div class="ui three columns grid">
                <div class="column">
                    Column 1
                </div>
                <div class="column">
                    Column 2
                </div>
                <div class="column">
                    Column 3
                </div>
            </div>
        </div>
    </footer>
</body>
</html>