$main-header-height: 400px;
$padding: 20px;



body {
  background-color: rgb(249, 249, 249);
}

#main-menu {

  background: transparent;
  transition-duration: 0.5s;

  .item, .input, input[type="text"] {
    color: white;
    font-size: large;
    cursor: pointer;
    opacity: 1.0;
  }
}

#main-menu.float {

  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.407843) 0px 2px 10px -2px;

  .item, .input, input[type="text"] {
    color: black;
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0px auto;

}

.center.aligned {
  text-align: center;
}

footer {
  margin-top: 50px;
  background: url("/images/footer_lodyas.png");
  color: white;
  padding-bottom: 150px;
}

.header {
  .background {
    background: url("/images/slide_4.jpg");
    height: $main-header-height;
    position: relative;

    .content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      padding-bottom: $padding;

      background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
      background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
    }
  }

}

.navigation-bar {
  background-color: rgb(51, 51, 51);
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 11px;
  font-family: Montserrat, Arial, sans-serif;

  .breadcrumb {
    .icon {
      color: white;
    }
  }

  a.section {
    color:white;
  }

  .active {
    color: rgb(136, 136, 136);
    font-weight: normal;
  }

}

.view-map
{
  .button
  {
    background-color: rgb(224, 79, 103);
    color: white;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
  }

}

.ui.selection.dropdown {
  min-width: 100px;
}

.booking-summary{
  .total{
    color: rgb(224, 79, 103);
    font-family: Montserrat, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .book-now{
    display: inline;
    .button{
      background-color: rgb(133, 201, 157);
      font-family: Montserrat, Arial, sans-serif;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      padding: 15px 20px;
      width: 40%;
    }
    .button:hover{
      background-color: #000000;
      color: white;
    }
  }

  .add-wish-list{
    .button
    {
      margin-top: 15px;
      text-transform: uppercase;
      border: 1px solid #85c99d;
      color: #85c99d;
    }

    .button:hover{
      color: #000;
      border: 1px solid #000;
    }
  }
}

.help{
  text-align: center;

  .phone{
    font-size: 26px;
    display: block;
    transition: all 0.2s ease;
    margin-bottom: 20px;
  }

  span{
    color: #e04f67
  }

  h4{
    color: rgb(51, 51, 51);
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  small{
    font-family: Montserrat, Arial, sans-serif;
    color: #565a5c;
    font-size: smaller;
  }

  .icon{
    font-size: 32px;
  }
}

.tour-feat{
  font-family: Montserrat, Arial, sans-serif;
  text-align: center;
  margin-top: 10px;

  .icon{
    color: rgb(51, 51, 51);
    display: block;
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

.tour-gallery{
  margin-top: 15px;
}

.tour-description{


  h3{
    color: rgb(51, 51, 51);
    font-family: Montserrat, Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-top: 0px;
  }
  h4{
    color: rgb(51, 51, 51);
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .content{
    color: rgb(86, 90, 92);
    display: block;
    float: left;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
  }
  img{
    width: 100%;
    margin-top: 10px;
  }

}

.tour-schedule{
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 10px;
  padding-top: 10px;

  h3{
    color: rgb(51, 51, 51);
    font-family: Montserrat, Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
  }
  h4{
    color: rgb(51, 51, 51);
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .content{
    color: rgb(86, 90, 92);
    display: block;
    float: left;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
  }

  table{
    margin-bottom: 10px;

    .left {
      text-align: left;
    }

    .right{
      text-align: right;
    }
  }
}

.tour-reviews{
  padding-top: 20px;

  h3{
    color: rgb(51, 51, 51);
    font-family: Montserrat, Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
  }
  h4{
    color: rgb(51, 51, 51);
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .content{
    color: rgb(86, 90, 92);
    display: block;
    float: left;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.home-tours{
  .main-title{
    margin-bottom: 30px;

    h2{
      color: rgb(51, 51, 51);
      display: block;
      font-family: Montserrat, Arial, sans-serif;
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;

      span{
        color: rgb(224, 79, 103);
      }
    }

    p{
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      color: rgb(86, 90, 92);
      display: block;
      font-family: Lato, Arial, sans-serif;
      font-size: 20px;
      font-weight: 300;
    }
  }
  .tour-detail{
    margin-bottom: 30px;

    .viewall-tours{
      text-align: center;
      .ui.button{
        -webkit-font-smoothing: antialiased;
        background-color: rgb(81, 188, 230);
        color: white;
        text-transform: uppercase;
        font-family: Montserrat, Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        outline-color: rgb(255, 255, 255);
      }
    }
  }

  .line{
    -webkit-font-smoothing: antialiased;
    border-bottom: 1px solid rgb(221, 221, 221);
    display: block;
    margin-bottom: 20px;
  }

  .other-tour{
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
  }

}


.cards>.ui.card
{
  border-radius: 0.0px;
  box-shadow: rgba(0,0,0,.40784) 0 1px 5px -1px;
  transition-duration: 0.5s;

  .zoom-effect{
    overflow: hidden;
  }

  img{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  a:hover img{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*.post{

  margin-top: 20px;
  margin-bottom: 10px;
  padding: 30px 30px 30px 30px;
  border: 1px solid rgb(221, 221, 221);
  background-color: white;

  .title{
    border-top: 1px dashed rgb(204, 204, 204);
    border-bottom: 1px dashed rgb(204, 204, 204);
    color: rgb(153, 153, 153);
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
    text-align: center;

    .left{
      float: left;
    }

    .right{
      float: right;
    }
  }

  img{
    vertical-align: middle;
  }

  .content{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    font-family: 'Montserrat', Arial, sans-serif;

    h2{
      color: rgb(51, 51, 51);
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 22px;
      font-weight: 500;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    p{
      margin-bottom: 20px;
    }
  }

  .comment{
    h4{
      color: rgb(51, 51, 51);
      display: block;
      font-size: 18px;
      font-weight: 500;
    }
  }
}*/

.post{
  margin-top: 10px;
  height: 200px;

  h3{
    color: rgb(51, 51, 51);
    font-family: Montserrat, Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-top: 0px;
  }
  h4{
    color: rgb(51, 51, 51);
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .content{
    color: rgb(86, 90, 92);
    display: block;
    float: left;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: justify;
  }
  img{
    width: 100%;
    margin-top: 10px;
  }

  p{
    display: block;
  }
}