body {
  background-color: #f9f9f9; }

#main-menu {
  background: transparent;
  transition-duration: 0.5s; }
  #main-menu .item, #main-menu .input, #main-menu input[type="text"] {
    color: white;
    font-size: large;
    cursor: pointer;
    opacity: 1.0; }

#main-menu.float {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.40784) 0px 2px 10px -2px; }
  #main-menu.float .item, #main-menu.float .input, #main-menu.float input[type="text"] {
    color: black; }

.wrapper {
  max-width: 1000px;
  margin: 0px auto; }

.center.aligned {
  text-align: center; }

footer {
  margin-top: 50px;
  background: url("/Images/footer_lodyas.png");
  color: white;
  padding-bottom: 150px; }

.header .background {
  background: url("/Images/slide_4.jpg");
  height: 400px;
  position: relative; }
  .header .background .content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    padding-bottom: 20px;
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* W3C */ }

.navigation-bar {
  background-color: #333333;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 11px;
  font-family: Montserrat, Arial, sans-serif; }
  .navigation-bar .breadcrumb .icon {
    color: white; }
  .navigation-bar a.section {
    color: white; }
  .navigation-bar .active {
    color: #888888;
    font-weight: normal; }

.view-map .button {
  background-color: #e04f67;
  color: white;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase; }

.ui.selection.dropdown {
  min-width: 100px; }

.booking-summary .total {
  color: #e04f67;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase; }
.booking-summary .book-now .button {
  background-color: #85c99d;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 15px 20px; }
.booking-summary .add-wish-list .button {
  margin-top: 15px;
  text-transform: uppercase;
  border-color: #85c99d !important;
  border-width: 2px; }
.booking-summary .add-wish-list .button:hover {
  color: #85c99d;
  text-transform: lowercase;
  border-color: #000; }
